:root {
  --background-color: #1e90ff;
  --background-color-light: #44a3ff;
  --background-color-light2: #a9d4fe;
  --main-color-dark: #000000;
  --main-color-dark2: #030303;
  --main-color-dark3: #121212;
  --main-color-dark4: #161616;
  --main-color-dark5: #212121;
  --main-color-dark6: #2e2e2e;
  --main-color-dark7: #323232a3;
  --main-color-dark8: #323232;
  --main-color-dark9: #424242;

  --text-color-dark: #000000;
  --text-color-white: #ffffff;
  --text-color-white2: #bbbbbb;

  --border-color1: #eeeeee;
  --border-color2: #2e2e2e;
}

.bg-logo {
  color: var(--background-color-light);
}

.bg-color {
  background-color: var(--main-color-dark) !important;
}

.lightblue2 {
  background-color: var(--background-color-light2);
}

.dark8 {
  background-color: var(--main-color-dark7) !important;
  color: #ffffff !important;
}

.dark7 {
  background-color: var(--main-color-dark7);
  color: #ffffff;
}

.white2 {
  color: var(--text-color-white2);
}

.bodering {
  border-radius: 20px !important;
}

.fs-xs {
  font-size: 10px;
}

.fs-sm {
  font-size: 12px;
}

.fs-md {
  font-size: 18px;
}

.fs-lg {
  font-size: 24px;
}

.fs-xl {
  font-size: 28px;
}

.fs-2xl {
  font-size: 32px;
}

.fs-3xl {
  font-size: 48px;
}

.fs-4xl {
  font-size: 64px;
}

.bodies {
  font-family: "Times New Roman", Times, serif;
}

.raised-section {
  margin-top: -50px;
}

.custom-placeholder::placeholder {
  color: #ffffff !important;
  opacity: 1 !important;
}

.cat-opacity:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cat-opacity2:hover {
  border: 1px solid #ffffff !important;
}

::-webkit-scrollbar {
  width: 2px;
}


::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d2691e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2691e;
}

.flex {
  display: flex;
}

.a-third {
  height: 100%;
  width: 25%;
  /* background-color: #1e90ff; */
}

.a-seventh {
  height: 100%;
  width: 67%;
  /* background-color: #44a3ff; */
}

.percent55 {
  height: 100%;
  width: 55%;
}

.percent45 {
  height: 100%;
  width: 45%;
}

.all-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-flex {
  display: flex;
  align-items: center;
}

.half-flex2 {
  display: flex;
  justify-content: center;
}

.all-flex2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radius20 {
  border-radius: 20px !important;
}

.shadow1 {
  box-shadow: 0 6px 20px rgba(116, 175, 238, 0.2) !important;
}

.bundle-btn {
  transition: transform 0.1s ease-in-out;
}
.bundle-btn:hover {
  transform: scale(1.02);
}
.griddng3 {
  display: grid;
  grid-template: auto auto/ repeat(3, 1fr);
  gap: 24px;
}

.griddng2 {
  display: grid;
  grid-template: auto auto/ repeat(2, 1fr);
  gap: 24px;
}

.dark-img {
  filter: brightness(60%);
}

.textShadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.paddingLeft30 {
  padding-left: 30px !important;
}

.white-border {
  border: 1px solid #ffffff !important;
}

.centering {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.columning {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.star-size {
  width: 20px !important;
  color: white;
}

.btn-hover {
  transform: scale(1);
  transition: transform 0.4s ease;
}

.btn-hover:hover {
  transform: scale(0.99);
}

.logo-text {
  -webkit-text-stroke: var(--border-color1) 1px;
  color: transparent !important;
  font-weight: bold;
}

.gradient-bg-animated {
  background: linear-gradient(270deg, #c2e9fb, #a1c4fd, #c2e9fb);
  background-size: 400% 400%;
  animation: gradientBGMove 6s ease-in-out infinite;
}

@keyframes gradientBGMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes scrollTestimonials {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.customer-testimonials-slider .testimonials-track {
  /* The width is 2x the number of cards for seamless loop */
  width: max-content;
}

@media (max-width: 600px) {
  .testimonial-card {
    min-width: 90vw !important;
    max-width: 95vw !important;
    padding: 18px 8px 16px 8px !important;
  }
}

.cart-icon-overlay:hover {
  transform: scale(1.1);
  transition: transform 4s ease-in-out;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hotdeal-product-card {
  transition: box-shadow 0.3s, transform 0.3s;
}
.signup-container{
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
}
.signup-form{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-wrapper2{
  display: flex;
  justify-content: center;
}
.logo-icon2{
  color: white;
}
.signup-form-real{
  height: 470px;
  width: 75%;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form-real{
  height: 400px;
  width: 75%;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.login-form-real > input{
  height: 50px;
  border: 2px solid #000000;
  margin-bottom: 30px;
  border-radius: 25px;
  padding-inline: 20px;
}
.login-form-real > button {
  padding-block: 10px;
  color: #ffffff;
  width: 150px;
  border-radius: 25px;
  border: none;
  align-self: center;
  font-size: 20px;
  background-color: #000000;
}
.login-form-real > p{
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
}
.login-form-real > p > a{
  text-decoration: none;
}



.signup-form-real > input{
  height: 50px;
  border: 2px solid #000000;
  margin-bottom: 30px;
  border-radius: 25px;
  padding-inline: 20px;
}
.signup-form-real > button {
  padding-block: 10px;
  color: #ffffff;
  width: 150px;
  border-radius: 25px;
  border: none;
  align-self: center;
  font-size: 20px;
  background-color: #000000;
}
.signup-form-real > p{
  text-align: center;
  margin-top: 9px;
}
.logo-circle2 {
    width: 45px;
    height: 45px;
    background-color: #000000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    align-self: center;
}
.welcome{
  width: 60%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}
.welcome > h1{
  font-size: 60px;
  color: white;
  text-align: center;
}